#title{
	text-align: center;
}

.search{
	margin-bottom: 10px;
	text-align: right;
}

.assembly{
	float: left;
	width: 49%;
	font-size:x-large;
	border: 1px solid green;
}

.source{
	float: right;
	width: 49%;
	font-size:x-large;
	border: 1px solid green;
}

.gray{
	color: gray;
}

table{
	width: 100%;
}

td{
	padding: 5px;
	border-bottom: 1px dotted black;
}

.links{
	margin-top: 10px;
	float: left;
    width: 100%;
	border: 1px solid red;
}
