#title{
	text-align: center;
}

.container{
	height: auto;
	overflow: hidden;
}

.assembly{
	float: left;
	width: 48%;
	text-align: right;
	font-size:x-large;
	border: 1px solid green;
}

.source{
	float: right;
	width: 48%;
	text-align: left;
	font-size:x-large;
	border: 1px solid green;
}

.gray{
	color: gray;
}
